@import "syntaxhighlighter.css";

body {
    font-family: "Droid Sans", sans-serif;
    //font-size: 1.1em;
    background-color: #d3d3d3;
}

.brand {
    text-decoration: none;
    color: #000;
    font-size: 2.5em;
    font-family: Oswald,Arial,Helvetica,sans-serif;
    letter-spacing: -0.06em;
    font-weight:bold;
    text-shadow: 1px 1px 1px rgb(119, 119, 119);
    margin-left:0.5em;
    float:left;
}

.brandin {color:#444;}

.navbar {
    background-color: #999; //rgb(204,204,204);
    /* position: fixed; for screen>750px, postion: absolute; for screen <750px */
    top: 0px;
    right: 0px;
    opacity: 0.77;
    width: 100%;
    padding: 0.4em;
}

.nav {

    display: inline;
    float: right;
    margin: 1em 10px 0px 0px;
    position: relative;
    right: 0px;
}

.nav_link {
    text-decoration: none;
    color: #000;
    font-size: 1.2em;
    padding: 0.35em;
    font-weight: bold;
    font-family: inherit, serif;
}

.content-main {
    //margin-top: 45px;
    //margin-left: 21%;
    //margin-right: 21%;
    line-height: 1.25em;
    padding: 4%;
    color: #222;
    font-size: 1.1em;
}

.tag_box li, .pagination li,  .inline {
    display: inline-block;
    text-transform: capitalize;
    padding: 7px;
}

.tag_box span {
    background-color: #333;
    display: inline-block;
    border-radius: 10px;
    color:white;
    font-weight: bold;
    font-size: 10px;
    padding: 1px 5px;
}

h1,h2,h3,h4 {
    font-family: Oswald, serif;
}

h1 { font-size: 3.3em; padding-bottom: 0.5em; }
h2 { font-size: 2em; }

ul { list-style: square outside none; }
.content ul, .content ol { padding: 0px; }
.content li { padding-bottom: 4px; }

a {
    color: rgb(54, 97, 161);
    text-decoration: none;
}

.content-main a:hover {text-decoration: underline;}

pre {
    color: rgb(242, 242, 242);
    background-color: rgb(57, 57, 57);
    border: 1px solid rgb(57, 57, 57);
    font-family: "Bitstream Vera Sans Mono","Courier New",Courier,monospace;
    margin-left: 0px;
    margin-right: 0px;
    padding: 1.625em;
    overflow: auto;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3) inset, 0px 1px 0px rgba(255, 255, 255, 0.6);
}

footer {
    font-size: 1.1em;
    margin-left: 18%;
}

@media only screen and (min-width: 750px) {
    .content-main {
        margin-left:21%;
        margin-right:21%;
        margin-top: 45px;
    }
    .navbar { position: fixed; }
}

@media only screen and (max-width: 750px) {
    .content-main {
        margin-top: 100px;
    }
    .content-main h1,h2,h3,h4 { line-height:1.8; }
    .navbar { position: absolute; }
}

